streamlit
Flask==3.0.0
Werkzeug>=3.0.0
gunicorn==21.2.0
torch==2.6.0
torchaudio==2.6.0
librosa==0.10.1
speechbrain==0.5.16
yt-dlp==2023.9.24
pydub==0.25.1
transformers==4.31.0
requests==2.31.0
numpy==1.24.3

