Flask==3.0.0
gunicorn==21.2.0
--index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
torchaudio==2.0.2
--index-url https://pypi.org/simple/
librosa==0.10.1
speechbrain==0.5.16
yt-dlp==2023.9.24
pydub==0.25.1
requests==2.31.0
numpy==1.24.3
Werkzeug==2.3.7
